<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css1/table.css">
    <script src="jquery3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Show Details of Diary of prisoner </title>
</head>
<body>

<div style="color:white;text-align: center;">
    <h1 >Jail Management</h1>
</div>

<div class="g1" >

    <a href="/caseRegister.html" class="l1">CASE REGISTER</a>
    <a href="/criminalRegister.html" class="l1">CRIMINAL REGISTER</a>
    <a href="/diaryRegister.html" class="l1">DIARY REGISTER</a>
    <a href="/dutyRegister.html" class="l1">DUTY REGISTER</a>
    <a href="/inOutRegister.html" class="l1">IN-OUT REGISTER</a>
    <a href="/interviewRegister.html" class="l1">INTERVIEW REGISTER</a>
    <a href="/paroleRegister.html" class="l1">PAROLE REGISTER</a>
    <button>Logout</button>
</div>

<div id="n1" style="text-align: center ;color: white">
    <h2>Show Details of Diary of prisoner</h2>
</div>


<div style="color:black;width: 100%;">



    

    <table align="center" style="width: 1350px;" >

        <thead>
        <tr>

            <th>Prisoner Id </th>
            <th> Name </th>
            <th>Sentence begin </th>
            <th>Sentence end</th>

           

            
        </tr>
        </thead>

        <tbody>
        <% for(var i=0; i < user.length; i++) { %>
            <tr>

                <td> <%= user[i].prisoner_id %></td>
                <td> <%= user[i].name %></td>
                <td> <%= user[i].sentence_begin %></td>
                <td> <%= user[i].sentence_end %></td>
               



            </tr>
        <% } %>
        </tbody>

    </table>

</div>
</body>
</html>