<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css1/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Show Details of interview prisoner </title>
</head>
<body>

<div style="color:white;text-align: center;">
    <h1 >Jail Management</h1>
</div>

<div class="g1" >
    <a href="/home.html" class="l1">Home</a>
    <a href="/caseRegister.html" class="l1">CASE REGISTER</a>
    <a href="/criminalRegister.html" class="l1">CRIMINAL REGISTER</a>
    <a href="/diaryRegister.html" class="l1">DIARY REGISTER</a>
    <a href="/dutyRegister.html" class="l1">DUTY REGISTER</a>
    <a href="/inOutRegister.html" class="l1">IN-OUT REGISTER</a>
    <a href="/interviewRegister.html" class="l1">INTERVIEW REGISTER</a>
    <a href="/paroleRegister.html" class="l1">PAROLE REGISTER</a>
    <button>Logout</button>
</div>

<div id="n1" style="text-align: center ;color: white">
    <h2>Show Details of interview prisoner</h2>
</div>


<div style="color:black;width: 100%;">


    <table style="width: 1350px;">
        <thead>
        <tr>

            <th>Prisoner_Id  </th>
            <th> Name  </th>
            <th>Sentence Duration </th>
            <th>Convection Details </th>



        </tr>
        </thead>

        <tbody>
        <% for(var i=0; i < user.length; i++) { %>
            <tr>

                <td> <%= user[i].id %></td>
                <td> <%= user[i].name %></td>
                <td> <%= user[i].duration %></td>
                <td> <%= user[i].convection_details %></td>





            </tr>
        <% } %>
        </tbody>

    </table>

</div>
</body>
</html>