body{
    background-image:url('prison2.jpg'); 
    padding-top: 50px
}
.bigbig
{
	background-image:url('prison1.jpg');
}

h3,h2{
	color: white;
}
#logout{
	font-size: 20px;
	background-color: transparent;
	border:none;
	color: white;
	text-transform: uppercase;

}
.g1{

	display: flex;
	justify-content: center;
	background-color: #6d6a6a;
}
.g1 a{
	color: black;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 24px;
}
.g1 a:hover{
	background-color: white;
	color: black;
	cursor: pointer;
}

@media screen and (max-width:700px)
{
	.g1{
		flex-direction: column;
	}
}