body{
    background-image:url('prison2.jpg');
    padding-top: 50px
}
.bigbig
{
    background-image:url('prison1.jpg');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.g1{

    display: flex;
    justify-content: center;
    background-color: #6d6a6a;
}
.g1 a{
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 24px;
}
.g1 a:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width:700px)
{
    .g1{
        flex-direction: column;
    }
}
#n1{

    display: flex;
    justify-content: center;
    padding: 12px 24px;
    color:black;

    text-align: center;
    font-weight: bold;
}
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    /* Table reset stuff */
    border-collapse: collapse; border-spacing: 0;
}
div{
    width: 100%;
    margin: auto;
    text-align: center;

}
td, th {  border: 0 none; height: 30px; }

th {
    /* Gradient Background */
    background: linear-gradient(#333 0%,#444 100%);
    color: #ff9a9e; font-weight: bold;
    height: 40px;
}

td { background: #FAFAFA; text-align: center; }

/* Zebra Stripe Rows */

tr:nth-child(even) td { background: #EEE; }
tr:nth-child(odd) td { background: #FDFDFD; }

/* First-child blank cells!*/
tr td:first-child, tr th:first-child {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    width: 80px;
}

/* Add border-radius to specific cells! */
tr:first-child th:nth-child(2) {
    border-radius: 5px 0 0 0;
}

tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
}
